.recent-artists .container {
    padding: 20px 0;
    margin: 0 auto;
    width: 1140px;
}

.recent-artists h1 {
    position: relative;
    margin-bottom: 45px;
    font-family: 'Oswald', sans-serif;
    font-size: 44px;
    text-transform: uppercase;
}

.recent-artists .gallery-wrap {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 70vh;
}

.recent-artists .item {
    position: relative;
    flex: 1;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: none;
    transition: flex 0.8s ease;
}

.recent-artists .item:hover {
    flex: 7;
}

.recent-artists .item .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1); /* Semi-transparent black */
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.recent-artists .item:hover .overlay {
    opacity: 1;
}

.recent-artists .artist-name {
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
}

.recent-artists .item-1 {
    background-image: url('../assets/drfImg/IMG_6765.jpeg');
}

.recent-artists .item-2 {
    background-image: url('../assets/drfImg/IMG_6883.jpeg');
}

.recent-artists .item-3 {
    background-image: url('../assets/drfImg/DSC00057.JPG');
}

.recent-artists .item-4 {
    background-image: url('../assets/drfImg/20190527_122826.jpg');
}

.recent-artists .item-5 {
    background-image: url('../assets/drfImg/20220628_221935.jpg');
}


@media (max-width: 768px) {
    .gallery-wrap .item:nth-child(n+4) {
        display: none;
    }
}